﻿@section TitleHead{
     Library | Books by Author
}

@section TitleBody{
     Books by Author
}

<div class="box container">
    <form class="form-horizontal" >
        <div class="box-body">
            <div class="form-group form-group-lg">
                <label for="inputEmail3" class="col-sm-2 control-label">Select the author:</label>
                <div class="col-sm-10 input-group">
                    <select class="form-control" id="author" placeholder="author">
                        @foreach (var author in ViewBag.Authors)
                        {
                            <option value="@author.Id">@author.LastName, @author.FirstName</option>
                        }
                            
                    </select>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-lg btn-info pull-right" onclick="submitForm()">Get Books</button>
                    </div>
                </div>
            </div>
        </div>
    </form>    
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Results</h3>
    </div>
    <div class="box-body no-padding">
        <table id="booksTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th >Publication Year</th>
                </tr>
            </thead>
            <tbody>    
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
<script>
   
    function submitForm() {
        $.getJSON("/api/Books?AuthorId=" + $("#author").val(),
            LoadBooks);
    };

    function LoadBooks(data) {
        $("#booksTable > tbody").empty();
        $.each(data, function (key, val) {
            var tableRow = '<tr>' +
                            '<td>' + val.Category.Description + '</td>' +
                            '<td>' + val.Title + '</td>' +
                            '<td>' + val.PublicationYear + '</td></tr>';
            $('#booksTable > tbody').append(tableRow);
        });
    };

</script>
}